<%= form_for(@patron_status) do |f| %>
  <% if @patron_status.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@patron_status.errors.count, "error") %> prohibited this patron status from being saved:</h2>

      <ul>
      <% @patron_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :code %>
    <%= f.text_field :code, :disabled => locals[:disable_code_field], class: "form-control" %>
  </div>
  <% if @patron_status.from_aleph? %>
  <div class="form-group">
    <%= f.label :original_text %>
    <%= f.text_field :original_text, :disabled => true, class: "form-control" %>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :web_text %>
    <%= f.text_field :web_text, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :keywords %> <%= tooltip_tag(icon_tag(:info), "Enter a comma-delimited list of keywords to aid in the patron status search.") %>
    <%= f.text_field :keywords, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :under_header, "Grouping" %>
    <%= f.text_field :under_header, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :id_type %>
    <%= f.text_field :id_type, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 3, class: "form-control" %>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-default">Save changes</button>
  </div>

<% end %>

<br />
