<% if @sublibrary %>

<h3><%= sublibrary_text(@sublibrary) %></h3>
<div id="permissions_<%=@sublibrary.code%>">
  <%= form_tag({:controller => "patron_status_permissions", :action => "update_multiple"}, :method => :patch, :remote => true, :id => "edit_patron_status_permissions") do %>

	<%= hidden_field_tag "patron_status_permission[patron_status_code]", @patron_status.code %>
	<%= hidden_field_tag "patron_status_permission[sublibrary_code]", @sublibrary.code %>
	<%= hidden_field_tag "patron_status_permission[from_aleph]", 0 %>

	<table class="table table-bordered table-striped">
		<thead>
		  <tr>
  			<th>Permission</th>
  			<th>Value</th>
  			<th colspan="2">Actions</th>
  		</tr>
		</thead>
		<tbody>
		  <% @patron_status_permissions.each do |ps_perm| %>
      <tr class="<%=hidden_class(ps_perm)%>">
        <td><%= ps_perm.permission.web_text %></td>
        <td><%= get_permission_value(ps_perm) %></td>
        <td class="actions"><%= link_to_unless(ps_perm.from_aleph?, 'Destroy', ps_perm, data: { confirm: 'Are you sure?' }, :method => :delete) %></td>
     	  <td class="actions"><%= link_to "#{(ps_perm.visible) ? 'Hide' : 'Reveal' }", patron_status_permission_path(ps_perm, :patron_status_permission => {:visible => !ps_perm.visible}), :method => :put, :remote => true, :class => "toggle_visible" %></td>
      </tr>
      <% end %>
      <tr>
        <td colspan="4"><%= submit_tag "Save changes", :name => nil, data: { :remote => true } %></td>
      </tr>
		</tbody>
	</table>
	<% end %>
</div>

<div id="patron_status_permission_new_form">
  <%= render "patron_status_permissions/new" %>
</div>

<% end %>
