<h1>Listing patron statuses</h1>

<%= form_tag patron_statuses_path, :class => "form-inline clearfix", :method => :get do %>
<%= render "common/searchbox" %>
<% end %>
<br />

<div id="patron_statuses">
<%= render "patron_statuses" %>
</div>

<br />

<%= icon_tag :add %><%= link_to 'New patron status', new_patron_status_path %>
