<h1>Listing sub libraries</h1>

<%= form_tag sublibraries_path, :class => "form-inline clearfix", :method => :get do %>
<%= render "common/searchbox" %>
<% end %>
<br />

<div id="sublibraries">
<%= render :partial => "sublibraries" %>
</div>

<br />

<%= icon_tag :add %><%= link_to 'New sub library', new_sublibrary_path %>
