<%= form_for(@permission) do |f| %>
  <% if @permission.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@permission.errors.count, "error") %> prohibited this record from being saved:</h2>
      <ul>
      <% @permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :code %>
    <%= f.text_field :code, :disabled => locals[:disable_code_field], class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :web_text %>
    <%= f.text_field :web_text, class: 'form-control' %>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Save changes</button>
  </div>
<% end %>
