<h1>Editing permission</h1>

<%= render 'form', :locals => { :disable_code_field => true }%>

<%= icon_tag :show %><%= link_to 'Show', @permission %> |
<%= icon_tag :back %>
<%= link_to 'Back', permissions_path %>
