<h1>Editing permission value</h1>

<%= form_for(@permission_value) do |f| %>
  <% if @permission_value.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@permission_value.errors.count, "error") %> prohibited this record from being saved:</h2>
      <ul>
      <% @permission_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :permission_code %>
    <%= f.text_field :permission_code, :disabled=>true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :code %>
    <%= f.text_field :code, :disabled=>true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :web_text %>
    <%= f.text_field :web_text, class: "form-control" %>
  </div>
  <div class="form-group">
   <button type="submit" class="btn btn-default">Update</button>
  </div>
<% end %>

<%= icon_tag :show %><%= link_to 'Show', @permission_value %> |
<%= icon_tag :back %>
<%= link_to 'Back', @permission %>
